/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{
background:#09070d;
color:#fff;
overflow-x:hidden;
}

/* GLOW BG */
body::before,
body::after{
content:"";
position:fixed;
width:500px;
height:500px;
filter:blur(160px);
z-index:-1;
}

body::before{
background:#8b5cf6;
top:-100px;
left:-120px;
}

body::after{
background:#b026ff;
bottom:-120px;
right:-120px;
}

/* HEADER */
header{
position:fixed;
width:100%;
top:0;
background:rgba(0,0,0,.35);
backdrop-filter:blur(15px);
z-index:999;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 30px;
}

.logo{
font-size:26px;
font-weight:800;
text-shadow:0 0 15px #b026ff;
}

.nav-links a{
color:#fff;
margin:0 12px;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:#b026ff;
}

/* BUTTON */
.btn{
padding:12px 28px;
border-radius:40px;
background:linear-gradient(135deg,#7a3cff,#b026ff);
color:#fff;
text-decoration:none;
box-shadow:0 0 25px #8b5cf6;
transition:.3s;
}

.btn:hover{
transform:translateY(-4px);
box-shadow:0 0 40px #b026ff;
}

/* HERO */
.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:120px 8%;
}

.hero h1{
font-size:60px;
line-height:1.1;
}

.hero span{
color:#b026ff;
text-shadow:0 0 20px #b026ff;
}

.hero p{
margin:20px 0;
color:#bdbdc7;
}

.hero-image img{
width:420px;
border-radius:30px;
box-shadow:0 0 40px #8b5cf6;
transition:.4s;
}

.hero-image img:hover{
transform:scale(1.05);
}

/* SECTION TITLE */
.section-title{
text-align:center;
font-size:42px;
margin:80px 0 50px;
}

.section-title span{
color:#b026ff;
}

/* VIDEO */
.video-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:0 20px;
}

.video-grid video{
width:100%;
border-radius:20px;
box-shadow:0 0 30px #8b5cf6;
}

/* GALLERY */
.masonry{
column-count:4;
column-gap:18px;
padding:0 20px;
}

.gallery-item{
margin-bottom:18px;
break-inside:avoid;
border-radius:18px;
overflow:hidden;
position:relative;
}

.gallery-item img{
width:100%;
transition:.4s;
}

.gallery-item:hover img{
transform:scale(1.08);
}

/* CTA */
.cta{
padding:120px 20px;
text-align:center;
}

.cta-box{
background:rgba(255,255,255,.06);
padding:60px 30px;
border-radius:25px;
backdrop-filter:blur(20px);
box-shadow:0 0 40px rgba(176,38,255,.2);
}

/* ANIMATION */
.fade-up{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.fade-up.show{
opacity:1;
transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:900px){
.hero{
flex-direction:column;
text-align:center;
}

.hero h1{
font-size:40px;
}

.hero-image img{
width:100%;
max-width:350px;
}
}